<div class="results_page">
<nav class="navbar">
      <img class="logo2" src="/img/google.png" alt="" />
      <form class="form2">
        <input class="search2" type="text" />
        <input
          class="but2"
          type="button"
          onclick="location.href='./results.html';"
          value="Search"
        />
      </form>
    </nav>
<div class="firstResult">
<span class="results">{{results.length}} Results</span>

{{#each results as |result|}}

<div>
		<small>{{result.url}}</small>

		<h2>
			<a href="{{result.url}}"
				>{{result.title}}</a>
		</h2>

		<p>
			{{result.description}}
		</p>

		<ul>
    		{{#each links as |link|}}
        		<li><a href="{{link.url}}">{{link.title}}</a></li>
    		{{/each}}
		</ul>

{{/each}}
</div>
</div>

<!-- ============= -->
<!-- OLD HTML CODE -->
<!-- ============= -->

		<!-- first result -->
    <!-- <div class="firstResult">
      <span class="results">37 Results</span>
      <div>
        <small>www.w3school.com</small>

        <h2>
          <a href="https://www.w3schools.com/js/"
            >JavaScript Tutorial - W3School</a
          >
        </h2>
        <p>
          Well organized and easy to understand Web building tutorials with lots
          of examples of how to use HTML, CSS, JavaScript, SQL, PHP, Python,
          Bootstrap, Java
        </p>
        <ul>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Introduction</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/">JS Functions</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Examples</a>
          </li>
        </ul>
      </div> -->

      <!-- second result -->
      <!-- <div>
        <small>developer.mozilla.org</small>

        <h2>
          <a href="https://www.w3schools.com/js/">JavaScript | MDN</a>
        </h2>
        <p>
          JavaScript (JS) is a lightweight, interpreted, or just-in-time
          compiled programming language with first-class functions.While it is
          most well-known as scripting language for Web pages<br />CouchDB and
          AdobeAcrobat
        </p>
        <ul>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Operator</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Code</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Meaning</a>
          </li>
        </ul>
      </div> -->
      <!-- third result -->
      <!-- <div>
        <small>en.wikipedia.org</small>

        <h2>
          <a href="https://www.w3schools.com/js/">JavaScript | MDN</a>
        </h2>
        <p>
          JavaScript often abbrevated as JS, is a programming language that
          conforms to ECMAScript specification. JavaScript is a high-level,
          often just
        </p>
        <ul>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Online</a>
          </li>
          <li>
            <a href="https://www.w3schools.com/js/">JavaScript Definition</a>
          </li>
        </ul>
      </div>
    </div>
	</div> -->

	<!-- ============= -->
	<!-- OLD HTML CODE -->
	<!-- ============= -->
